<div class="flex flex-col justify-between h-screen bg-black">
  <div class="border-t-8 border-solid border-gray-400 w-full"></div>
  <div class="flex justify-center items-center h-full">
    <div class="border-l-8 border-dashed border-gray-400 h-full"></div>
  </div>
  <div class="border-b-8 border-solid border-gray-400 w-full"></div>
</div>
